<div class="row col-md-8 col-md-offset-2" id="chatroom-title">
  <h1>所有房间</h1>
</div>

<div class="row col-md-8 col-md-offset-2" id="chatrooms">
    <ul id="chatroom-index"> 
      <% if @chatrooms.any? %>
        <%= render @chatrooms%>
      <%else %>
    </ul>
    <p>还没有房间!</p>
  <% end %>
  <div id="chatroom-errors">  
  </div>
  <h2>创建房间</h2>
  <%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>
</div>