<div class="jumbotron">
  <h1>欢迎来到 Fresh狼人杀</h1>
  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <p>注册并登录，创建房间，开始游戏。更多新内容 BUG Report稍后上线。</p>
  <p>Rails 5 + Action Cable</p>
</div>

