// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chatroom-form {
  margin: 5%;
  text-align: center;
}

#create-chatroom {
  margin-top: 5%;
}

#chatroom-index {
  list-style: none;
  font-size: 22px;
  padding-left: 0px;
}

#chatroom-index > li {
  margin-left: 0px;
}

#chatrooms {
  text-align: center;
}

#chatroom-title {
  text-align: center;
}

#hidden {
  display: none;
}

.center {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.name-label {
    margin-right: 20px;
}

.message {
    word-break: break-all;
    white-space: normal;
}

.seat-box {
  display: inline-block;
  width: 80px;
  height: 100px;
}

.action-button-div {
  display: inline-block;
}

.seat-btn {
  display: block;
  width:  55px;
  height: 55px;
}


.skill-info-label {
  color: blue;
}

#skill-panel {
  border: 3px solid green;
}

#identity-panel {
  border: 3px solid red;
}

#main-room-container {
   min-height: 400px;
   margin-bottom: 120px;
   clear: both;
}